# 101 Pandas Exercises for Data Analysis

## 1. How to import pandas and check the version?

In [1]:
import numpy as np  # optional
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json=True))

0.23.4
{'system': {'commit': None, 'python': '3.7.0.final.0', 'python-bits': 32, 'OS': 'Windows', 'OS-release': '8.1', 'machine': 'AMD64', 'processor': 'Intel64 Family 6 Model 76 Stepping 3, GenuineIntel', 'byteorder': 'little', 'LC_ALL': 'None', 'LANG': 'None', 'LOCALE': 'None.None'}, 'dependencies': {'pandas': '0.23.4', 'pytest': None, 'pip': '18.1', 'setuptools': '39.1.0', 'Cython': None, 'numpy': '1.15.3', 'scipy': '1.1.0', 'pyarrow': None, 'xarray': None, 'IPython': '7.1.1', 'sphinx': None, 'patsy': None, 'dateutil': '2.7.5', 'pytz': '2018.7', 'blosc': None, 'bottleneck': None, 'tables': None, 'numexpr': None, 'feather': None, 'matplotlib': '3.0.2', 'openpyxl': None, 'xlrd': None, 'xlwt': None, 'xlsxwriter': None, 'lxml': None, 'bs4': None, 'html5lib': None, 'sqlalchemy': None, 'pymysql': None, 'psycopg2': None, 'jinja2': '2.10', 's3fs': None, 'fastparquet': None, 'pandas_gbq': None, 'pandas_datareader': None}}
None

## 2. How to create a series from a list, numpy array and dict?

In [2]:
# Inputs
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

## 3. How to convert the index of a series into a column of a dataframe?

Convert the series **_ser_** into a dataframe with its index as another column on the dataframe.

In [10]:
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Solution
df = ser.to_frame().reset_index()
print(ser.head())
print(df.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64
  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

## 4. How to combine many series to form a dataframe?

Combine **_ser1_** and **_ser2_** to form a dataframe.

In [14]:
# Input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.concat([ser1, ser2], axis=1)
print(df.head())

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4
  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

## 5. How to assign name to the series’ index?
Give a name to the series **_ser_** calling it ‘alphabets’.

In [16]:
# Input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

## 6. How to get the items of series A not present in series B?
From **_ser1_** remove items present in **_ser2_**.

In [17]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

## 7. How to get the items not common to both series A and series B?
Get all items of **_ser1_** and **_ser2_** not common to both.

In [22]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_u

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [23]:
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_i

0    4
1    5
dtype: int64

In [21]:
ser_u[~ser_u.isin(ser_i)] # delete common items

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
Compute the minimum, 25th percentile, median, 75th, and maximum of **_ser_**.

In [24]:
# Input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

## 9. How to get frequency counts of unique items of a series?
Calculte the frequency counts of each unique value **_ser_**.

In [32]:
# Input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

# Solution
ser.value_counts()

g    5
d    5
h    4
f    4
b    3
c    3
e    3
a    3
dtype: int64

## 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
From **_ser_**, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [40]:
# Input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)

# Solution
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0     1
1     3
2     2
3     4
4     3
5     4
6     4
7     4
8     1
9     4
10    4
11    4
dtype: int32
Top 2 Freq: 4    7
3    2
1    2
2    1
dtype: int64

0     Other
1         3
2     Other
3         4
4         3
5         4
6         4
7         4
8     Other
9         4
10        4
11        4
dtype: object

## 11. How to bin a numeric series to 10 groups of equal size?
Bin the series **_ser_** into 10 equal deciles and replace the values with the bin name.

In [3]:
# Input
ser = pd.Series(np.random.random(20))
print(ser.head())

# Solution
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    0.507193
1    0.643937
2    0.995664
3    0.136835
4    0.041169
dtype: float64

0     4th
1     6th
2    10th
3     1st
4     1st
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

## 12. How to convert a numpy array to a dataframe of given shape?
Reshape the series **_ser_** into a dataframe with 7 rows and 5 columns

In [5]:
# Input
ser = pd.Series(np.random.randint(1, 10, 35))
print(ser)

# Solution
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

0     3
1     7
2     7
3     1
4     6
5     7
6     9
7     9
8     5
9     5
10    1
11    2
12    4
13    6
14    4
15    1
16    7
17    2
18    8
19    4
20    2
21    9
22    2
23    8
24    9
25    4
26    4
27    1
28    5
29    4
30    3
31    7
32    5
33    8
34    6
dtype: int32
   0  1  2  3  4
0  3  7  7  1  6
1  7  9  9  5  5
2  1  2  4  6  4
3  1  7  2  8  4
4  2  9  2  8  9
5  4  4  1  5  4
6  3  7  5  8  6

## 13. How to find the positions of numbers that are multiples of 3 from a series?
Find the positions of numbers that are multiples of 3 from **_ser_**.

In [7]:
# Input
ser = pd.Series(np.random.randint(1, 10, 7))
ser

# Solution
print(ser)
np.argwhere(ser % 3 == 0)

0    5
1    1
2    4
3    6
4    3
5    6
6    1
dtype: int32

array([[3],
       [4],
       [5]], dtype=int32)

## 14. How to extract items at given positions from a series
From **_ser_**, extract the items at positions in list **_pos_**.

In [8]:
# Input
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

# Solution
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

## 15. How to stack two series vertically and horizontally ?
Stack **_ser1_** and **_ser2_** vertically and horizontally (to form a dataframe).

In [11]:
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Output
# Vertical
print(ser1.append(ser2))


# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

## 16. How to get the positions of items of series A in another series B?
Get the positions of items of **_ser2_** in **_ser1_** as a list.

In [12]:
# Input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

## 17. How to compute the mean squared error on a truth and predicted series?
Compute the mean squared error of **_truth_** and **_pred_** series.

In [25]:
# Input
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
df = pd.concat([truth, pred], axis=1)
df.columns=['truth', 'pred']
print(df)

# Solution
np.mean((truth-pred)**2)

   truth      pred
0      0  0.462559
1      1  1.656042
2      2  2.374960
3      3  3.485993
4      4  4.008992
5      5  5.364015
6      6  6.398672
7      7  7.745345
8      8  8.341968
9      9  9.909613

0.2812540625484167

## 18. How to convert the first character of each element in a series to uppercase?
Change the first character of each word to upper case in each word of **_ser_**.

In [26]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution 1
ser.map(lambda x: x.title())

# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

# Solution 3
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

## 19. How to calculate the number of characters in each word in a series?

In [27]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

## 20. How to compute difference of differences between consequtive numbers of a series?
Difference of differences between the consequtive numbers of **_ser_**.

In [28]:
# Input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Solution
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

## 21. How to convert a series of date-strings to a timeseries?

In [29]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution 1
from dateutil.parser import parse
ser.map(lambda x: parse(x))

# Solution 2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

## 22. How to get the day of month, week number, day of year and day of week from a series of date strings?
Get the day of month, week number, day of year and day of week from **_ser_**.

In [30]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.weekday_name.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

## 23. How to convert year-month string to dates corresponding to the 4th day of the month?
Change **_ser_** to dates that start with 4th of the respective months.

In [31]:
# Input
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

# Solution 1
from dateutil.parser import parse
# Parse the date
ser_ts = ser.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

# Solution 2
ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

## 24. How to filter words that contain atleast 2 vowels from a series?
From **_ser_**, extract words that contain atleast 2 vowels.

In [32]:
# Input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

# Solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

## 25. How to filter valid emails from a series?
Extract the valid emails from the series **_emails_**. The regex pattern for valid emails is provided as reference.

In [40]:
# Input
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

# Solution 1 (as series of strings)
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
print(emails[mask])


# Solution 2 (as series of list)
print(emails.str.findall(pattern, flags=re.IGNORECASE))

# Solution 3 (as list)
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object
0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

## 26. How to get the mean of a series grouped by another series?
Compute the mean of **_weights_** of each **_fruit_**.

In [41]:
# Input
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

# Solution
weights.groupby(fruit).mean()

apple     4.0
banana    5.5
carrot    6.4
dtype: float64

## 27. How to compute the euclidean distance between two series?
Compute the [euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between series (points) **_p_** and **_q_**, without using a packaged formula.

In [3]:
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# Solution 
sum((p - q)**2)**.5

# Solution (using func)
np.linalg.norm(p-q)

18.16590212458495

## 28. How to find all the local maxima (or peaks) in a numeric series?
Get the positions of peaks (values surrounded by smaller values on both sides) in **_ser_**.

In [7]:
# Input
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

# Solution
dd = np.diff(np.sign(np.diff(ser)))
print(np.diff(ser))
print(np.sign(np.diff(ser)))
print(dd)
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

[ 8 -7  1  5  1 -8  5 -4]
[ 1 -1  1  1  1 -1  1 -1]
[-2  2  0  0 -2  2 -2]

array([1, 5, 7], dtype=int32)

## 29. How to replace missing spaces in a string with the least frequent character?
Replace the spaces in ***my_str*** with the least frequent character.

In [9]:
# Input
my_str = 'dbc deb abed gade'

# Solution
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
print(least_freq)
"".join(ser.replace(' ', least_freq))

d    4
b    3
e    3
     3
a    2
g    1
c    1
dtype: int64
c

'dbccdebcabedcgade'

## 30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [10]:
# Solution
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    1
2000-01-08    5
2000-01-15    6
2000-01-22    7
2000-01-29    6
2000-02-05    3
2000-02-12    1
2000-02-19    9
2000-02-26    7
2000-03-04    3
Freq: W-SAT, dtype: int32

## 31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?
***ser*** has missing dates and values. Make all missing dates appear and fill up with value from previous date.

In [12]:
# Input
ser = pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

# Solution
ser.resample('D').ffill()  # fill with previous value

# Alternatives
ser.resample('D').bfill()  # fill with next value
ser.resample('D').bfill().ffill()  # fill next else prev value

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

## 32. How to compute the autocorrelations of a numeric series?
Compute autocorrelations for the first 10 lags of ***ser***. Find out which lag has the largest correlation.

In [17]:
# Input
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
print(ser)

# Solution
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

0     16.212849
1     12.359428
2      3.106418
3      5.975342
4     14.385312
5      2.304043
6     -1.432386
7      3.517264
8      6.574908
9     -5.144513
10    11.366448
11     5.417499
12     8.826876
13     2.297674
14    21.065121
15    22.204620
16    21.856173
17    24.355133
18    22.772467
19    13.582535
dtype: float64
[0.54, 0.43, 0.4, 0.36, -0.27, -0.19, -0.15, -0.48, -0.73, -0.22]
Lag having highest correlation:  9

## 33. How to import only every nth row from a csv file to create a dataframe?
Import every 50th row of [BostonHousing](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) dataset as a dataframe.

In [19]:
# Solution 1: Use chunks and for-loop
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])


# Solution 2: Use chunks and list comprehension
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()

# Solution 3: Use csv reader
import csv          
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i%50 == 0:
            out.append(row)

df2 = pd.DataFrame(out[1:], columns=out[0])
print(df2.head())

      crim  zn  indus chas    nox     rm   age     dis rad  tax ptratio  \
0  0.21977   0   6.91    0  0.448  5.602    62  6.0877   3  233    17.9
1   0.0686   0   2.89    0  0.445  7.416  62.5  3.4952   2  276      18
2  2.73397   0  19.58    0  0.871  5.597  94.9  1.5257   5  403    14.7
3   0.0315  95   1.47    0  0.403  6.975  15.3  7.6534   3  402      17
4  0.19073  22   5.86    0  0.431  6.718  17.5  7.8265   7  330    19.1

        b  lstat  medv
0   396.9   16.2  19.4
1   396.9   6.19  33.2
2  351.85  21.45  15.4
3   396.9   4.56  34.9
4  393.74   6.56  26.2

## 34. How to change column values when importing csv to a dataframe?
Import the boston housing dataset, but while importing change the ***'medv'*** (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

In [20]:
# Solution 1: Using converter parameter
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                 converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})


# Solution 2: Using csv reader
import csv
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i > 0:
            row[13] = 'High' if float(row[13]) > 25 else 'Low'
        out.append(row)

df = pd.DataFrame(out[1:], columns=out[0])
print(df.head())

      crim  zn indus chas    nox     rm   age     dis rad  tax ptratio  \
0  0.00632  18  2.31    0  0.538  6.575  65.2    4.09   1  296    15.3
1  0.02731   0  7.07    0  0.469  6.421  78.9  4.9671   2  242    17.8
2  0.02729   0  7.07    0  0.469  7.185  61.1  4.9671   2  242    17.8
3  0.03237   0  2.18    0  0.458  6.998  45.8  6.0622   3  222    18.7
4  0.06905   0  2.18    0  0.458  7.147  54.2  6.0622   3  222    18.7

        b lstat  medv
0   396.9  4.98   Low
1   396.9  9.14   Low
2  392.83  4.03  High
3  394.63  2.94  High
4   396.9  5.33  High

## 35. How to create a dataframe with rows as strides from a given series?

In [29]:
L = pd.Series(range(15))

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]], dtype=int64)

## 36. How to import only specified columns from a csv file?
Import ***‘crim’*** and ***‘medv’*** columns of the BostonHousing dataset as a dataframe.

In [30]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

## 37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.
Get the number of rows, columns, datatype and summary statistics of each column of the [Cars93](https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv) dataset. Also get the numpy array and list equivalent of the dataframe.

In [35]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#  number of rows and columns
print(df.shape)

# datatypes
print(df.dtypes)
print(df.info())

# how many columns under each dtype
print(df.get_dtype_counts())
print(df.dtypes.value_counts())

# summary statistics
df_stats = df.describe()
print(df_stats)

# numpy array 
df_arr = df.values

# list
df_list = df.values.tolist()

(93, 27)
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
Manufacturer          89 non-null object
Model                 92 non-null object
Type                  90 non-null object
Min.Price             86 non-null float64
Price                 91 non-null float64
Max.Price             88 non-null float64
MPG.city              84 non-null float64
MPG.highway           91 non-null float64
AirBags               87 non-null object
DriveTrain            86 non-null object
Cylinders             88 non-null object
EngineSize            91 non-null float64
Horsepower            86 non-null float64
RPM                   90 non-null float64
Rev.per.mile          87 non-null float64
Man.trans.avail       88 non-null object
Fuel.tank.capacity    85 non-null float64
Passengers            91 non-null float64
Length                89 non-null float64
Wheelbase             92 non-null float64
Width                 87 non-null float64
Turn.circle           88 non-null float64
Rear.seat.room        89 non-null float64
Luggage.room          74 non-null float64
Weight                86 non-null float64
Origin                88 non-null object
Make                  90 non-null object
dtypes: float64(18), object(9)
memory usage: 16.4+ KB
None
float64    18
object      9
dtype: int64
float64    18
object      9
dtype: int64
       Min.Price      Price  Max.Price   MPG.city  MPG.highway  EngineSize  \
count  86.000000  91.000000  88.000000  84.000000    91.000000   91.000000
mean   17.118605  19.616484  21.459091  22.404762    29.065934    2.658242
std     8.828290   9.724280  10.696563   5.841520     5.370293    1.045845
min     6.700000   7.400000   7.900000  15.000000    20.000000    1.000000
25%    10.825000  12.350000  14.575000  18.000000    26.000000    1.800000
50%    14.600000  17.700000  19.150000  21.000000    28.000000    2.300000
75%    20.250000  23.500000  24.825000  25.000000    31.000000    3.250000
max    45.400000  61.900000  80.000000  46.000000    50.000000    5.700000

       Horsepower          RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count   86.000000    90.000000     87.000000           85.000000   91.000000
mean   144.000000  5276.666667   2355.000000           16.683529    5.076923
std     53.455204   605.554811    486.916616            3.375748    1.045953
min     55.000000  3800.000000   1320.000000            9.200000    2.000000
25%    100.750000  4800.000000   2017.500000           14.500000    4.000000
50%    140.000000  5200.000000   2360.000000           16.500000    5.000000
75%    170.000000  5787.500000   2565.000000           19.000000    6.000000
max    300.000000  6500.000000   3755.000000           27.000000    8.000000

           Length   Wheelbase      Width  Turn.circle  Rear.seat.room  \
count   89.000000   92.000000  87.000000    88.000000       89.000000
mean   182.865169  103.956522  69.448276    38.954545       27.853933
std     14.792651    6.856317   3.778023     3.304157        3.018129
min    141.000000   90.000000  60.000000    32.000000       19.000000
25%    174.000000   98.000000  67.000000    36.000000       26.000000
50%    181.000000  103.000000  69.000000    39.000000       27.500000
75%    192.000000  110.000000  72.000000    42.000000       30.000000
max    219.000000  119.000000  78.000000    45.000000       36.000000

       Luggage.room       Weight
count     74.000000    86.000000
mean      13.986486  3104.593023
std        3.120824   600.129993
min        6.000000  1695.000000
25%       12.000000  2647.500000
50%       14.000000  3085.000000
75%       16.000000  3567.500000
max       22.000000  4105.000000

## 38. How to extract the row and column number of a particular cell with given criterion?

In [42]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Get Manufacturer with highest price
print(df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']])

# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))
print(row, col)
print(type(row))

# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

# Alternates
df.at[row[0], 'Price']
df.get_value(row[0], 'Price')

# The difference between `iat` - `iloc` vs `at` - `loc` is:
# `iat` snd `iloc` accepts row and column numbers. 
# Whereas `at` and `loc` accepts index and column names.

     Manufacturer Model     Type
58  Mercedes-Benz  300E  Midsize
[58] [4]
<class 'numpy.ndarray'>

c:\users\user\pycharmprojects\ml\venv\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

61.9

## 39. How to rename a specific columns in a dataframe?
Rename the column ***Type*** as ***CarType*** in df and replace the ‘.’ in column names with ‘_’.

In [43]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Step 1:
df=df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"

# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

## 40. How to check if a dataframe has any missing values?

In [44]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df.isnull().values.any()

True

## 41. How to count the number of missing values in each column?
Count the number of missing values in each column of ***df***. Which column has the maximum number of missing values?

In [70]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.idxmax()

'Luggage.room'

## 43. How to use apply function on existing columns with global variables as additional arguments?
In ***df***, use apply method to replace the missing values in ***Min.Price*** with the column’s mean and those in ***Max.Price*** with the column’s median.

In [46]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

## Make a dictionary of the 26 english alphabets mapping each with the corresponding integer.

In [66]:
# Solution 1
import string
{a:i+1 for a,i in zip(string.ascii_letters[:26], range(26))}

# Solution 2
alphabets = 'abcdefghijklmnopqrstuvwxyz'
{i: list(alphabets).index(i) + 1 for i in list(alphabets)}

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

## Replace all alphabets in the string ‘Lee Quan Yew’, by substituting the alphabet with the corresponding numbers, like 1 for ‘a’, 2 for ‘b’ and so on.

In [75]:
# Solution
import string
d = {a:i+1 for a,i in zip(string.ascii_lowercase, range(26))}
[d.get(a.lower(), ' ') for a in 'Lee Quan Yew']

[12, 5, 5, ' ', 17, 21, 1, 14, ' ', 25, 5, 23]

## Get the unique list of words from the following sentences, excluding any stopwords.

In [78]:
# Input
sentences = ["The Hubble Space telescope has spotted", 
             "a formation of galaxies that resembles", 
             "a smiling face in the sky"]
stopwords = ['for', 'a', 'of', 'the', 'and', 'to', 'in', 'on', 'with']

# Solution
{word.lower() for sentence in sentences for word in sentence.split(' ') if word.lower() not in stopwords}

{'face',
 'formation',
 'galaxies',
 'has',
 'hubble',
 'resembles',
 'sky',
 'smiling',
 'space',
 'spotted',
 'telescope',
 'that'}

## Tokenize the following sentences excluding all stopwords and punctuations.

In [79]:
# Input
sentences = ["The Hubble Space telescope has spotted", 
             "a formation of galaxies that resembles", 
             "a smiling face in the sky", 
             "The image taken with the Wide Field Camera", 
             "shows a patch of space filled with galaxies", 
             "of all shapes, colours and sizes"]

stopwords = ['for', 'a', 'of', 'the', 'and', 'to', 'in', 'on', 'with']

# Solution
[[word.lower() for word in sentence.split(' ') if word.lower() not in stopwords] for sentence in sentences]

[['hubble', 'space', 'telescope', 'has', 'spotted'],
 ['formation', 'galaxies', 'that', 'resembles'],
 ['smiling', 'face', 'sky'],
 ['image', 'taken', 'wide', 'field', 'camera'],
 ['shows', 'patch', 'space', 'filled', 'galaxies'],
 ['all', 'shapes,', 'colours', 'sizes']]

## Create a list of _(word:id)_ pairs for all words in the following sentences, where _id_ is the sentence index.

In [83]:
# Input
sentences = ["The Hubble Space telescope has spotted", 
             "a formation of galaxies that resembles", 
             "a smiling face in the sky"]

# Solution
[(word.lower(), i) for i, sentence in enumerate(sentences) for word in sentence.split(' ')]

[('the', 0),
 ('hubble', 0),
 ('space', 0),
 ('telescope', 0),
 ('has', 0),
 ('spotted', 0),
 ('a', 1),
 ('formation', 1),
 ('of', 1),
 ('galaxies', 1),
 ('that', 1),
 ('resembles', 1),
 ('a', 2),
 ('smiling', 2),
 ('face', 2),
 ('in', 2),
 ('the', 2),
 ('sky', 2)]

## 44. How to select a specific column from a dataframe as a dataframe instead of a series?
Get the first column ***(a)*** in ***df*** as a dataframe (rather than as a Series).

In [86]:
# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution
print(type(df[['a']]))
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

# Alternately the following returns a Series
type(df.a)
type(df['a'])
type(df.loc[:, 'a'])
type(df.iloc[:, 1])

<class 'pandas.core.frame.DataFrame'>

pandas.core.series.Series

## 45. How to change the order of columns of a dataframe?
Actually 3 questions.
* In ***df***, interchange columns ***'a'*** and ***'c'***.
* Create a generic function to interchange two columns, without hardcoding column names.
* Sort the columns in reverse alphabetical order, that is colume ***'e'*** first through column ***'a'*** last.

In [87]:
# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution Q1
df[list('cbade')]

# Solution Q2 - No hard coding
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')

# Solution Q3
df[sorted(df.columns)]
# or
df.sort_index(axis=1, ascending=False, inplace=True)

## 46. How to set the number of rows and columns displayed in the output?
Change the pamdas display settings on printing the dataframe ***df*** it shows a maximum of 10 rows and 10 columns.

In [90]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
df

# Show all available options
#pd.describe_option()

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

## 47. How to format or suppress scientific notations in a pandas dataframe?
Suppress scientific notations like ***‘e-03’*** in ***df*** and print upto 4 numbers after decimal.

In [91]:
# Input
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

# Solution 1: Rounding
df.round(4)

# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x, axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

# Solution 3: Use set_option
pd.set_option('display.float_format', lambda x: '%.4f' % x)

# Solution 4: Assign display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df)

# Reset/undo float formatting
pd.options.display.float_format = None

   random
0  0.0002
1  0.0066
2  0.0000
3  0.1072

## 48. How to format all the values in a dataframe as percentages?
Format the values in column ***'random'*** of ***df*** as percentages.

In [92]:
# Input
df = pd.DataFrame(np.random.random(4), columns=['random'])

# Solution
out = df.style.format({
    'random': '{0:.2%}'.format,
})

out

## 49. How to filter every nth row in a dataframe?
From ***df***, filter the ***'Manufacturer'***, ***'Model'*** and ***'Type'*** for every 20th row starting from 1st (row 0).

In [93]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

## 50. How to create a primary key index by combining relevant columns?
In ***df***, Replace *NaNs* with *‘missing’* in columns ***'Manufacturer'***, ***'Model'*** and ***'Type'*** and create a index as a combination of these three columns and check if the index is a primary key.

In [98]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])
print(df.index)
# Solution
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)
df

RangeIndex(start=0, stop=93, step=1)
True

                          Manufacturer    Model     Type  Min.Price  Max.Price
Acura_Integra_Small              Acura  Integra    Small       12.9       18.8
missing_Legend_Midsize         missing   Legend  Midsize       29.2       38.7
Audi_90_Compact                   Audi       90  Compact       25.9       32.3
Audi_100_Midsize                  Audi      100  Midsize        NaN       44.6
BMW_535i_Midsize                   BMW     535i  Midsize        NaN        NaN
...                                ...      ...      ...        ...        ...
Volkswagen_Eurovan_Van      Volkswagen  Eurovan      Van       16.6       22.7
Volkswagen_Passat_Compact   Volkswagen   Passat  Compact       17.6       22.4
Volkswagen_Corrado_Sporty   Volkswagen  Corrado   Sporty       22.9       23.7
Volvo_240_Compact                Volvo      240  Compact       21.8       23.5
missing_850_Midsize            missing      850  Midsize       24.8       28.5

[93 rows x 5 columns]